body {
  background-color: rgb(255 255 255);
}

h1,
h2 {
  font-family: "Averia Regular", "Georgia", "Times New Roman", Times, serif;
}

h3 {
  font-family: "Montserrat Bold", ui-sans-serif, system-ui, -apple-system,
    "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif;
}

h4,
p,
ul,
li,
a,
button,
dd,
dt,
input,
label,
legend,
table {
  font-family: "Montserrat Regular", ui-sans-serif, system-ui, -apple-system,
    "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif;
}
